@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');

.App {
    width: 100%;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1528459801416-a9e53bbf4e17?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1912&q=80');
    background-size: cover;
    background-position: center;
}